body {
    background-color: black;
  }

#main-title {
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
  }

.contacts {
    background-color: black;
    color: white;
  }

.about {
    background-color: black;
    color: white;
  }

.expirience {
    background-color: black;
    color: white;
  }

.education {
    background-color: black;
    color: white;
  }

.additional {
    background-color: black;
    color: white;
  }

a {
    color: yellow;
  }

p {
    color: white;
  }

.expirience > article > h4 {
    color: white;
    font-size: 20px;
  }

li {
    color: white;
  }
